header
{
	background-image: linear-gradient(#04519B, #044687 60%, #033769);
	color:white;
	min-height: 100px;
	padding-top: 25px;
}
header form
{
	float:right;
	padding-right: 40px;
}
header .logo{
	float:left;
	padding-left: 40px;
}
.panel-heading{
	background-image: linear-gradient(#04519B, #044687 60%, #033769);
	color:white !important;
}
.bubble{
	position:relative;
	width:580px;
	min-height:65px;
	padding:15px;
	background:#fff;
	border-radius: 10px;
	border:1px solid #ccc;
}	
.bubble:after{
	content:'';
	position:absolute;
	border-style:solid;
	border-width:15px 15px 15px 0;
	border-color:transparent #fff;
	display:block;
	width:0;
	z-index:1;
	margin-top:-15px;
	left:-15px;
	top:50%;
}

.bubble:before{
	content:'';
	position:absolute;
	border-style:solid;
	border-width:15px 15px 15px 0;
	border-color:transparent #ccc;
	display:block;
	width:0;
	z-index:0;
	margin-top:-15px;
	left:-16px;
	top:50%;
}
.comment-form .form-group{
	width:88%;
}
.comment-form input[type="text"]{
	width:100%;
}
.comment-avatar img{
	width:40px;
	margin-right: 5px;
}
.comment
{
	padding:5px;
	margin:3px 0px;
	border-radius: 5px;
	border:2px solid #ccc;
	overflow: auto;
	width: 100%
}
.friends li
{
	list-style: none;
	display: inline;
	float:left;
	padding: 2px 5px 2px 5px;
}
.friends img{
	width:60px;
}
.friends .all-friends {
	margin-top: 10px;
	margin-left: 58px;
}
 .view-all-groups
{
	margin:10px 0 20px 60px;
}
footer
{
	background-image: linear-gradient(#04519B, #044687 60%, #033769);
	color:white !important;
	height: 50px;
}
footer li
{
	list-style: none;
	float: left;
	padding: 15px;
	text-align: center
}
footer p{
	float: right;
	padding: 15px;
}
footer a
{
	color: white;
}
.groups img{
	width:80px;
	float: left;
	margin-right: 15px;
}
.groups
{
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}
@media(min-width: 991px){
.member-row a
{
	margin-top: 60px;
}
}
.member-row
{
	padding-bottom: 10px;
	margin:10px;
	border-bottom:1px solid #ccc;
}
.members img{
	margin-bottom:10px;
}
.groups .group-item a
{
	margin-left: 538px !important;
}
.groups .group-item{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-top: 35px;
}
.profile li
{
	list-style: none;
	font-size: 20px;
}
.profile
{
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.photos{
	margin:0;
	padding: 0;
}
.photos li{
	list-style: none;
	float: left;
	width:23%;
	margin: 5px;
}
.photos img{
	width: 100%;

}

